
h1 {
    
    padding: .5em .5em .5em;
    max-width: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #b23939;
    background-color: #fffbfb;
    box-shadow: 0 0 2px rgba(26, 13, 13, 0.06);
    outline: #ccd0cc outset thick;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



h2  {
    
    padding: .5em .5em .5em;
    max-width: 500px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    color: #b23939;
    background-color: #f5f7fd;
    box-shadow: 0 0 2px rgba(72, 56, 56, 0.06);
    outline: #ccd0cc outset;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
